@charset "utf-8";

/* Pretendard-Regular */
@font-face {
  font-display: swap;
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Pretendard-Regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* Pretendard-Medium */
@font-face {
  font-display: swap;
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/Pretendard-Medium.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* Pretendard-Bold */
@font-face {
  font-display: swap;
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Pretendard-Bold.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
